org: upstandfm
app: api
service: invites-api

plugins:
  - serverless-domain-manager

custom:
  customDomain:
    domainName: api.upstand.fm
    basePath: invites
    stage: ${opt:stage, 'prod'}
    createRoute53Record: false
  cors:
    origin: '*'
  authorizer:
    arn: ${secrets:AUTH0_AUTHORIZER_ARN}
    resultTtlInSeconds: 60
    identitySource: method.request.header.Authorization
    # Note that Bearer must be capitalized
    identityValidationExpression: '^Bearer [-0-9a-zA-z\.]*$'
    type: token

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'prod'}
  region: ${opt:region, 'eu-central-1'}
  cfnRole: ${secrets:CFN_ROLE_ARN}
  memorySize: 128
  timeout: 3
  deploymentBucket:
    name: upstandfm-deployments
    serverSideEncryption: AES256
  environment:
    # Reuse TCP connection to reduce request latency
    # For more info see:
    # https://github.com/aws/aws-sdk-js/blob/master/CHANGELOG.md#24630
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1
    CORS_ALLOW_ORIGIN: ${self:custom.cors.origin}
    # The ARN has the format "arn:aws:dynamodb:::table/tableName"
    # Splitting on "/" gives us the name
    INVITES_TABLE_NAME:
      'Fn::Select':
        ['1', { 'Fn::Split': ['/', '${state:infra.invitesTableArn}'] }]
    CREATE_WORKSPACE_INVITE_SCOPE: 'create:workspace-invite'
    READ_WORKSPACE_INVITES_SCOPE: 'read:workspace-invites'
    NEW_INVITE_SNS_ARN: ${state:infra.newInviteTopicArn}
    DELETE_INVITE_SNS_ARN: ${state:infra.deleteInviteTopicArn}

  # See: https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_actions-resources-contextkeys.html
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:PutItem
        - dynamodb:Query
      Resource: ${state:infra.invitesTableArn}
    - Effect: Allow
      Action:
        - dynamodb:DescribeStream
        - dynamodb:GetRecords
        - dynamodb:GetShardIterator
        - dynamodb:ListStreams
      Resource: ${state:infra.invitesTableStreamArn}
    - Effect: Allow
      Action:
        - sns:Publish
      Resource: ${state:infra.newInviteTopicArn}
    - Effect: Allow
      Action:
        - sns:Publish
      Resource: ${state:infra.deleteInviteTopicArn}

package:
  exclude:
    - ./*
    - ./**/*.spec.js
  include:
    - node_modules
    - src

functions:
  createWorkspaceInvite:
    handler: src/handler.createWorkspaceInvite
    description: Creates a workspace invite
    events:
      - http:
          method: post
          path: /
          cors: ${self:custom.cors}
          authorizer: ${self:custom.authorizer}
  getWorkspaceInvites:
    handler: src/handler.getWorkspaceInvites
    description: Gets all workspace invites
    events:
      - http:
          method: get
          path: /
          cors: ${self:custom.cors}
          authorizer: ${self:custom.authorizer}
  processInvitesStream:
    handler: src/handler.processInvitesStream
    description: Publishes the change stream
    events:
      - stream:
          type: dynamodb
          arn: ${state:infra.invitesTableStreamArn}

resources:
  Resources:
    GatewayResponseDefault4XX:
      Type: 'AWS::ApiGateway::GatewayResponse'
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
        ResponseType: DEFAULT_4XX
        RestApiId:
          Ref: 'ApiGatewayRestApi'
    GatewayResponseDefault5XX:
      Type: 'AWS::ApiGateway::GatewayResponse'
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
        ResponseType: DEFAULT_5XX
        RestApiId:
          Ref: 'ApiGatewayRestApi'
